# Test Results

## State

### Case 0

![test-state-0.jpg](test-state-0.jpg)

### Case 1

![test-state-1.jpg](test-state-1.jpg)

## Pairing

![test-pairing](test-pairing.jpg)

## Verify

![test-verify](test-verify.jpg)